$footerHeight: 30px;

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: $footerHeight;
  line-height: $footerHeight;
  text-align: center;
  color: #D6D6D6;
  background: #1E1E1E;
}